{#{%  load staticfiles %}#}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/mystyles.css" %}" rel="stylesheet" type="text/css">
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

<script type="text/javascript">
    console.log("test");

    var montharray=new Array("NotAMonthJustToMakeItWork","January","February","March","April","May","June","July","August","September","October","November","December")
    var serverdate = new Date({% now "Y,n,j,G,i,s"%})
    function padlength(what){
	    var output=(what.toString().length==1)? "0"+what : what
	    return output
    }
    function displaytime(){
        serverdate.setSeconds(serverdate.getSeconds()+1)
        var datestring=montharray[serverdate.getMonth()]+" "+padlength(serverdate.getDate())+", "+serverdate.getFullYear()
        var timestring=padlength(serverdate.getHours())+":"+padlength(serverdate.getMinutes())+":"+padlength(serverdate.getSeconds())
        document.getElementById("tm").innerHTML=datestring+" "+timestring
    }
    window.onload=function(){
        displaytime()
        setInterval("displaytime()", 1000)
    }
</script>
  {% block javascript %}
    {% endblock %}
</head>
<body>
    <p id="tm"></p>
    <p id="server">gameserver: {{ request.session.gameserver }}</p>
    <div id="sidebar">
        <ul>
          {% if user.is_authenticated %}
            {% include "includes/user_authenticated_menu.html" %}
          {% else %}
            {% include "includes/user_unauthenticated_menu.html" %}
          {% endif %}
          {% include "includes/user_common_menu.html" %}
          </ul>
    </div>
    {% block content %}
    {% endblock %}


</body>
</html>